[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
provenance_attestation = "kK63ncGUJXCWjUqSYzcN92tW531rt4UtacJBmHWXJ16"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx mocha --timeout 60000 tests/**/*.ts"
